<mat-toolbar class="color">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a class="space" mat-button [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a mat-button [routerLink]="['/product-register']" routerLinkActive="active">Productos</a>
        <a mat-button [routerLink]="['/supplier-register']" routerLinkActive="active">Proveedores</a>
        <a mat-button [routerLink]="['/client-register']" routerLinkActive="active">Clientes</a>
        <a mat-button [routerLink]="['/invoice']" routerLinkActive="active">Facturar</a>
      </nav>
      <a [routerLink]="['/login']" class="text-menu" mat-raised-button>
        <mat-icon>login</mat-icon>
        Sign in
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
