<mat-toolbar class="color">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <span>
          <a mat-button [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </span>

        <span *ngIf="(user$ | async ) as user">
          <a *ngIf="user.role == 'Interested'" mat-button [routerLink]="['/product-consult']" routerLinkActive="active">Productos</a>
          <a  *ngIf="user.role == 'AvaluoLeader'" mat-button  class="act" [matMenuTriggerFor]="product">Productos </a>
          <mat-menu #product="matMenu">
            <a class="text-menu" mat-menu-item [routerLink]="['/product-register']">registrar poductos</a>
            <a class="text-menu" mat-menu-item [routerLink]="['/product-consult']">consultar productos</a>
          </mat-menu>

          <a  *ngIf="user.role == 'AvaluoLeader'" mat-button  class="act" [matMenuTriggerFor]="client">Clientes</a>
          <mat-menu #client="matMenu">
            <a class="text-menu" mat-menu-item [routerLink]="['/client-register']">registrar clientes</a>
            <a class="text-menu" mat-menu-item [routerLink]="['/client-consult']">consultar clientes</a>
          </mat-menu>

          <a *ngIf="user.role == 'AvaluoLeader'" mat-button [routerLink]="['/supplier-register']" routerLinkActive="active">Proveedores</a>
          <a *ngIf="user.role== 'SalesPrfsnal'" mat-button [routerLink]="['/invoice']" routerLinkActive="active">Facturar</a>
          <a *ngIf="user.role== 'SalesPrfsnal'" mat-button [routerLink]="['/sales']" routerLinkActive="active">Ventas</a>


        </span>


      </nav>
       <samp *ngIf="(user$ | async ) as user; else login">
        <a (click)="onLogout()" class="text-menu" mat-raised-button>
          <mat-icon>logout</mat-icon>
          Sign off
        </a>
       </samp>

       <ng-template #login>
          <a class="text-menu" mat-raised-button [routerLink]="['/login']">
            <mat-icon>login</mat-icon>
            Login
          </a>
      </ng-template>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
