nav a {
  padding:5px 10px;
  text-decoration: none;

}
.space {
  max-height: 70px;
}

.active {
  background-color:rgba(226, 211, 211, 0.13);
}

.header-row {
  width: 100%;
}

a{
  text-decoration: none;
  color: #ffffff;
}
.space {
  margin-left: 10px;
}

.color
{
  background-color: #000000;
}

.text-menu {
  color: black;
}
