<form class="container" [formGroup]="supplierForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card [class.mat-elevation-z8]="true">
    <mat-card-header>
      <mat-card-title>Registrar Proveedor</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nit" formControlName="nit">
            <mat-error *ngIf="controlSupplier['nit'].hasError('required')">Nit is <strong>reguired</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Nombre" formControlName="name">
          <mat-error *ngIf="controlSupplier['name'].hasError('required')">
            Nombre is <strong>reguired</strong></mat-error>
        </mat-form-field>
       </div>
      </div>

      <div class="row">
        <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Telefono" formControlName="phone">
          <mat-error *ngIf="controlSupplier['phone'].hasError('required')">Telefono is <strong>reguired</strong></mat-error>
        </mat-form-field>
       </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>

</form>
