<form class="container" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card [class.mat-elevation-z8]="true">
    <mat-card-header>
      <mat-card-title>Registrar Usuarios</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Usuario" formControlName="userName">
            <mat-error *ngIf="controlUser['userName'].hasError('required')">UserName is <strong>reguired</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="controlUser['password'].hasError('required')">
            Password is <strong>reguired</strong></mat-error>
        </mat-form-field>
       </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
            </mat-select>
            <mat-error *ngIf="controlUser['status'].hasError('required')">
              Status  is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
            </mat-select>
            <mat-error *ngIf="controlUser['role'].hasError('required')">
              Role  is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>

</form>
